<p>favourite-view works!</p>
<div>
    <ul *ngIf="favourites">
        <li *ngFor="let favourite of favourites; index as i">
            <h3>{{ favourite.title }}
                .....
                <button (click)="deleteFavourite(favourite._id)">
                    Delete
                </button>

            </h3>
            <p>{{ favourite.description }}</p>
            <br>
            <br>


        </li>
    </ul>
</div>
<div>
    <ul *ngIf="!hasComment">

        <button [routerLink]="['./addComment']">
            Add Comment
        </button>
        
    </ul>
    <ul *ngIf="hasComment">
        <p>
            Comment :
        </p>
        <li *ngFor="let comment of comments; index as i">
            <h3>{{ comment.comment }}
                <br>
                <button [routerLink]="['./editComment', comment._id]">
                    Edit
                </button>
                .....
                <button (click)="deleteComment(comment._id)">
                    Delete
                </button>

            </h3>


        </li>
    </ul>
</div>