 <header>

    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul routerLinkActive="active">
            <li ><a class="nav-link" routerLink="/">Home</a></li>
            <li  *ngFor="let link of links">
              <a [routerLink]="link.path">{{ link.text }}</a>
            </li>
            <li *ngIf="isLoggedIn">
              <a routerLink="/favouriteView">My Favourite</a>
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
      </nav>
  </header>
<router-outlet></router-outlet>