<header>
  <nav class="navbar" role="navigation" aria-label="breadcrumbs">
    <div class="navbar-brand">
      
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

          <a class="button is-link has-text-white" routerLink="/">Home</a>
          <ul *ngFor="let link of links">
            <li>
              <a class="button is-primary has-text-white" [routerLink]="link.path">{{ link.text }}</a>
            </li>
          </ul>
          <ul *ngIf="isLoggedIn">
            <a class="button is-info" routerLink="/favouriteView">My Favourite</a>
            <a class="button is-danger has-text-white" (click)="logout()">Logout</a>
          </ul>

        </div>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>