<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit Score

        </h1>

        <div class="field">
            <div class="control">
              <div class="select is-large ">
                <select #ScoreInput >
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>
   

        <br><br>

        <div class="buttons is-right" >
            
            <button class="button is-medium" [routerLink]="['/favouriteView', favouriteId]">Cancel</button>
            <button class="button is-primary has-text-white is-medium" (click)="updateScore(ScoreInput.value)">Update</button>

        </div>

        

    </div>
</div>
