<ul *ngIf="favourites">
    <li *ngFor="let favourite of favourites; index as i">

        <div class="centered-content">

            <div class="card" [routerLink]="['/favouriteView', favourite._id]">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{i+1}} --- {{ favourite.title }} </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>



    </li>
</ul>

